################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sistemas_Distribuidos/CopilotIndices/17.14.1204.46620
/.vs/Sistemas_Distribuidos/FileContentIndex
/.vs/Sistemas_Distribuidos/v17
/.vs
/Gateway/obj
/Sensor/obj
/Servidor/obj
/Gateway/.vs/Gateway
/Sensor/.vs/Sensor
/Servidor/.vs/Servidor
